<main class="main main_second">
<!--  <button class="menu-button aside_button">|||</button>-->
  <aside class="main-aside left">
    <div class="search-block">
      <button class="volume-button aside_button"></button>
      <button class="close-button aside_button">X</button>
    </div>
    <h3 class="main-aside__title aside_title">выберите ёлку</h3>
    <div class="trees"></div>
    <h3 class="main-aside__title aside_title">выберите фон</h3>
    <div class="background"></div>
    <h3 class="main-aside__title aside_title">гирлянда</h3>
    <div class="garland"></div>
    <div class="aside__buttons"></div>
  </aside>

  <section class="central">
    <div class="central__fir"></div>
  </section>

  <aside class="main-aside right">
    <h3 class="main-aside__title aside_title">игрушки</h3>
    <div class="chosen-toys"></div>
    <h3 class="main-aside__title aside_title">вы нарядили</h3>
    <div class="ready-trees"></div>
  </aside>
</main>