<main class="main main_first">
  <button class="menu-button aside_button">|||</button>
  <aside class="aside controls">
    <div class="search-block">
      <button class="volume-button aside_button"></button>
      <label class="search-form">
        <input class="search-form__input" type="search">
      </label>
      <button class="close-button aside_button">X</button>
    </div>
    <div class="sort-block">
      <h3 class="sort-block__title aside_title">сортировать</h3>
      <form>
        <label class="sort">
          <select class="sort__select">
            <option disabled>Выберите метод сортировки</option>
            <option>По возрастанию</option>
            <option>По убыванию</option>
            <option>По возрастанию (год)</option>
            <option>По убыванию (год)</option>
            <option>По возрастанию (название)</option>
            <option>По убыванию (название)</option>
          </select>
        </label>
      </form>
    </div>

    <section class="categories">
      <h3 class="aside_title">категории</h3>
      <div class="categories__check">
        <label class="radio">
          Все
          <input class="radio__input" type="radio" name="check" value="Все">
        </label>
        <label class="radio">
          Только Любимые
          <input class="radio__input" type="radio" name="check" value="только любимые">
        </label>
      </div>
      <h4 class="categories__title">Форма</h4>
      <div class="shape">
        <button class="shape__button aside_button bell">
          Колокол
        </button>
        <button class="shape__button aside_button ball">
          Шар
        </button>
        <button class="shape__button aside_button cone">
          Шишка
        </button>
        <button class="shape__button aside_button snow">
          Снежинка
        </button>
        <button class="shape__button aside_button figure ">
          Фигурка
        </button>
      </div>
      <h4 class="categories__title">Количество экземпляров</h4>
      <h4 class="categories__title">Год приобретения</h4>
      <h4 class="categories__title">Цвет</h4>
      <div class="color">
        <button class="color__button white_button"></button>
        <button class="color__button yellow_button"></button>
        <button class="color__button red_button"></button>
        <button class="color__button blue_button"></button>
        <button class="color__button green_button"></button>
      </div>
      <h4 class="categories__title">Размер</h4>
      <div class="size">
        <label class="check">
          Большой
          <input class="check__input" type="checkbox" name="check" value="Все">
        </label>
        <label class="check">
          Средний
          <input class="check__input" type="checkbox" name="check" value="только любимые">
        </label>
        <label class="check">
          Маленький
          <input class="check__input" type="checkbox" name="check" value="только любимые">
        </label>
      </div>
    </section>
    <div class="aside__buttons"></div>
  </aside>
  <section class="toys">
    <h2 class="toys__title">
      Игрушки
    </h2>
    <div class="cards-container"></div>
  </section>
</main>