<main class="main main_first">
  <aside class="aside controls">

    <button class="controls_button"></button>
    <label class="search-form">
      <input class="search-form__input" type="search">
    </label>
    <h3 class="aside__title">сортировать</h3>
    <label class="sort">
      <input class="sort__input" type="text">
    </label>
    <h3 class="aside__title">категории</h3>
    <section class="categories">
      <label class="check">
        <input class="check__input" type="checkbox">
      </label>
      <h4 class="categories__title">Форма</h4>
      <div class="shape">

      </div>
      <h4 class="categories__title">Количество экземпляров</h4>
      <label>
        <input type="range">
      </label>
      <h4 class="categories__title">Год приобретения</h4>
      <label>
        <input type="range">
      </label>
      <h4 class="categories__title">Цвет</h4>
      <div class="color"></div>
      <h4 class="categories__title">Размер</h4>
      <div class="size"></div>

    </section>
    <div class="aside__buttons"></div>


  </aside>
  <section class="toys">
    <h2 class="toys__title">
      Игрушки
    </h2>
    <div class="cards-container"></div>
  </section>
</main>