@import "styles/styles-reset";
/* Webfont: Steppe-Regular */@font-face {
  font-family: 'Steppe';
  src: url('assets/fonts/Steppe.woff2') format('woff2'),
  url('assets/fonts/Steppe.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.body{
  width: 100vw;
  height: 100vh;
  color: white;
  background: url("assets/bg.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
}

.footer{
  position: absolute;
  width: 100vw;
  height: 100px;
  left: 0;
  top: calc(100vh - 100px);
  background: $green;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .footer_git{
    background: url("assets/svg/github.svg") no-repeat;
    aspect-ratio: 50/50;
  }
  .footer_rss{
    background: url("assets/svg/rss.svg") no-repeat;
    aspect-ratio: 242/90;
  }
  .footer__a{
    display: block;
    height: 50%;
    background-size: contain;
  }
}